  
*{
 font-family: 'Nunito Sans';   
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}




.mt-35{
    margin-top:35px;
}

.mt-25{
    margin-top:25px;
}

.mt-57{
    margin-top:57px;
}

.pb-10{
    padding-bottom:5em;
}

.pl-50{padding-left:50px;
}


.container-50{
    padding-left:50px;
    padding-right: 50px;   
}



@media screen and (min-width: 1023px) {
    .section-one {
    	padding-left:10vw;
    	padding-right:10vw;
    }

}
