







.section-one{
   background-color: #ff5750;
   height: 100vh;
   position: relative;
   padding-top: 41px;

   .navbar{
     background-color: #ff5750;

     a.btn, a.btn:hover{
        background-color: #ff5750;
    }
}
}

.page-header{
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    left:40%;
    transform: translateX(-35%);



    h1{
        margin: 0px;
        font-size: 57px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;

    }

    p.lead{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 5px;
    }


}



.section-two {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f9f9f9;
    
    .border-l{
        padding-left: 25px;
        border-left: 10px solid #9a4fef;
    }


    .quote-group{
        text-align: center;
        color:#9a4fef;

        h1{
           font-weight: 800;
           font-size: 40px;
       }


       h5{
        max-width: 380px;
        font-weight: 600;
        font-size: 22px;
    }

    h5, h1{
        text-align: left;
        padding-left: 0px;
        padding-bottom: 5px;
    }
}
}




.section-three{
    background-color: white ;
    color: white;  

    .image-div{
        background-image: url("../img/meetmya-half-img-2.png");
        height: 480px;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }


    .quote-group{
        text-align: center;
        color:#9a4fef;
        margin-top: 90px;
        margin-left: 82px;
        max-width: 400px;

        h1{
            text-align: left;
            font-size:40px;
            font-weight: 800;
            margin: 0px;
            padding-left: 0px;
            line-height: 1.2;
            padding-top: -5px;
        }


        p.name{
            text-align: right;
            padding-right: 40px;
            padding-top: 15px;
        }
    }
}


.section-carousel{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #09d198;
}


.parallax-window {
    min-height: 800px;
}



.logo-group{

}

.border-2{
    padding-left:50px;
    border-left: 8px solid #fff; 
}



/*SECTION FOUR*/

.section-four{
    background-color: white;
    padding-top: 90px;
    padding-bottom:45px;

    .border-1{
        padding-left:20px;
        border-left: solid #8f37ed 10px;
        margin-bottom: 50px;
        text-align:left;
    }

    h1{
        font-weight: 800;
        font-size: 67px;
        color:#8f37ed;
        margin-bottom: 10px;
        margin-top: 0px;
        line-height: .8;
    }

    .text-col-one{
        padding-left: 60px;
    }


    p.subheader{
       font-weight: 700; 
       margin-bottom: 0px
   }


   p{
    font-weight: 200px;
    font-size: 16px;
    max-width: 350px;
    color:#8f37ed;
    line-height: 1.2;
}

}




.section-five{
    background-color: #f9f9f9 ;
    color: white;  

    .image-div{
        background-image: url("../img/meetmya-half-img-1.png");
        height: 460px;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }


    .quote-group{
        text-align: center;
        color:#9a4fef;
        margin-top: 90px;
        margin-left: 82px;
        max-width: 400px;

        h1{
            text-align: left;
            font-size:40px;
            font-weight: 800;
            margin: 0px;
            padding-left: 0px;
            line-height: 1.2;
            padding-top: -5px;
        }


        p.name{
            text-align: right;
            padding-right: 40px;
            padding-top: 15px;
        }
    }
}


.section-six{

    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #3581ef;




    div > .text-group{
        color:white;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 40px;
        padding-left: 0px;



        h2{
            padding-bottom: 15px;
            border-bottom: solid white 2px;
            max-width: 220px;
            font-size: 40px;
            font-weight: 700;
            letter-spacing: .5px;

        }

        h5{
            padding-top: 15px;
            text-align: left;
        }

        p{
            max-width: 200px;
            text-align: left;
            line-height: 1.2;
        }

    }

}




.section-six-B{

    padding-top: 75px;
    padding-bottom: 45px;
    background-color: white;

    .text-block{
        color:#9a4fef;
        margin-left: 50px;

        h5{
            padding-top: 15px;
            text-align: left;
            font-size: 22px;
            margin-bottom: 25px;
            font-weight: 700;
        }

        p{
            text-align: left;
            line-height: 1.2;
            font-size: 16px;
            margin-bottom: 25px;
            
        }

        ul{
            margin-left: -15px;
        }

        ul li{
            font-size: 22px;
            font-weight: 800;
            padding-bottom: 25px;


        }
    }




}





.carousel-indicators li {
    border-radius:20px;
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: -999px;
    border: white solid 1px;
}

.carousel-indicators {
    display: -ms-flexbox;
    display: block;
    bottom:50%;
    left: 70%;
}


/*FOOTER GROUP*/

.footer-group{

    .fa-linkedin, .fa-facebook, .fa-instagram, .fa-twitter{
        max-width: 40px;

    }

}




